html {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #272a31;
  margin: 0;
  padding: 0;
}

.nav-bar-mobile {
  margin: 5%;
  cursor: pointer;
}

.nav-bar-mobile.disabled {
  display: none;
}

.nav-bar-desktop-ul {
  display: none;
}

img.logo-img {
  display: none !important;
}

.mobile-menu {
  left: 100%;
  position: fixed;
  background-color: #272a31;
  background-image: url(/assets/pattern_bg.png);
  color: #ec5242;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
}

.mobile-menu.active {
  left: 0;
}

.container-x {
  padding: 5%;
  display: flex;
  flex-direction: row;
  align-self: end;
  color: #ec5242;
  font-size: x-large;
  cursor: pointer;
}

.container-x.disabled {
  display: none;
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-ul-menu {
  list-style-type: none;
}

.mobile-menu-list {
  cursor: pointer;
  margin-bottom: 30%;
}

a {
  text-decoration: none;
  color: #ec5242;
  font-size: x-large;
}

body {
  background-image: url('/assets/background-image-1.png');
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  justify-self: start;
  margin: 3%;
  margin-bottom: 0;
}

.presentation-container-about {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 3%;
  margin-bottom: 0;
}

.header-welcome {
  font-size: x-large;
  color: #ec5242;
}

.header-welcome-about {
  font-size: x-large;
  color: #ec5242;
}

.header-title {
  background: url('/assets/background-image-text4.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "cocogosse", sans-serif;
  font-size: 270%;
  font-weight: 800;
  margin: 0;
  margin-bottom: 5%;
  line-height: 100%;
}

.header-title-about {
  color: #ec5242;
  font-family: "cocogosse", sans-serif;
  font-size: 270%;
  text-align: center;
  font-weight: 800;
  margin: 0;
  margin-bottom: 5%;
  line-height: 100%;
  padding-top: 0;
}

.box-presentation {
  margin: 0;
  padding: 7%;
  border: 4px solid #ffff;
  background-color: rgb(247, 247, 248);
  text-align: justify;
  line-height: 170%;
}

.box-presentation-about {
  margin: 0;
  padding: 7%;
  border: 1px solid #d3d3d3;
  background-color: #ffff;
  text-align: center;
  line-height: 170%;
  color: #272a31;
}

.date-event {
  font-family: "cocogosse", sans-serif;
  font-weight: 900;
  color: rgb(87, 87, 87);
  font-size: 6vw;
  margin: 5% 0 2% 4%;
}

.contact-about {
  margin: 5%;
  text-align: center;
  font-size: small;
  margin-bottom: 1%;
}

.adress {
  margin: 0 0 15% 4%;
}

.email-about {
  font-size: small;
  margin: 0 0 15% 4%;
  font-weight: 900;
  text-decoration: underline;
}

#program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272a31;
  background-image: url(/assets/pattern_bg.png);
  color: #fff;
}

.box-program {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
}

.program-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
}

.program-titles {
  color: #ec5242;
  width: 30%;
  margin: 0;
}

h2.main-program-title {
  align-self: center;
  font-weight: 400;
  margin-bottom: 0;
}

.program-img {
  width: 20%;
  height: 33.33%;
  padding: 3%;
}

.program-paragraf {
  width: 50%;
  padding: 3%;
  margin: 0;
}

hr {
  width: 10%;
  background-color: #ec5242;
}

.buttom-program {
  background-color: #ec5242;
  color: #fff;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: large;
  border: 1px solid #ec5242;
  min-width: 30vh;
  margin-bottom: 15%;
}

a.whole-program {
  display: none;
}

#sponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272a31;
}

h2.partner-title {
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  opacity: 0.5;
}

.sponsor-container-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.container-a-logos {
  display: flex;
  height: 6vh;
  width: 12vh;
  align-items: center;
  padding: 2%;
}

.sponsors-img {
  width: 100%;
  opacity: 0.5;
  flex-wrap: wrap;
}

.footer-paragrafs {
  display: flex;
  width: 50%;
}

.footer-paragraf {
  padding: 7%;
  margin: 0;
  font-size: x-small;
}

.link-logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 50%;
}

.a-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.img-footer-logo {
  max-width: 50%;
  padding: 4%;
}

.footer-second-paragraf {
  display: none;
}

footer {
  padding: 1.5%;
  display: flex;
}

#speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-speakers {
  margin-bottom: 0;
}

.container-speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  margin-bottom: 0;
}

.speaker {
  display: flex;
  margin-bottom: 5%;
}

.speaker-image-container {
  padding-left: 3%;
  padding-top: 3%;
  background: url(/assets/pattern-ajedrez.jpeg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 50%;
}

.photo-speaker {
  width: 12vh;
}

.speaker-text-container {
  padding-left: 5%;
}

.name-speaker {
  margin-bottom: 0;
  margin-top: 0;
}

.position-speaker {
  color: #ec5242;
  margin-top: 0;
  font-style: italic;
  font-size: small;
}

.description-speaker {
  font-size: x-small;
}

.section-logo-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
}

.section-past-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  border-top: #d3d3d3 1px solid;
  margin-bottom: 5%;
}

.paragraf-logo-about {
  font-size: small;
}

.logo-img-about {
  width: 60%;
  padding: 10%;
  border: #272a31 1px solid;
}

.logo-container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.container-img-last-about2,
.container-img-last-about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin: 0 10% 0 10%;
  background: brown;
}

.img-last-about {
  position: absolute;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.year-about {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20%;
  opacity: 1;
}

.descrition-year-about {
  margin-top: 0;
  margin-bottom: 20%;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(/assets/main_big.png);
  }

  nav {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #fff !important;
    height: 8vh;
    top: 0;
  }

  .mobile-menu {
    display: none;
  }

  .nav-bar-mobile {
    display: none;
  }

  .nav-bar-desktop {
    display: flex;
    width: 100%;
  }

  .nav-bar-desktop-ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    column-gap: 5%;
    margin: 0 12% 0 0;
    padding: 1%;
    align-items: center;
    width: 50%;
  }

  a {
    color: inherit;
    width: 50%;
    font-size: medium;
  }

  .nav-bar-desktop-list {
    padding: 0.7% 2% 0.7% 2%;
  }

  .nav-bar-desktop-list1 {
    border: #ec5242 3px solid;
    padding: 0.7% 2% 0.7% 2%;
    color: #ec5242;
  }

  img.logo-img {
    display: flex !important;
    height: 6vh;
    margin: 1.5% 0 0 27%;
  }

  .mobile-menu.active {
    display: none;
  }

  .presentation-container {
    margin: 0 0% 3% 12%;
    padding-top: 6%;
  }

  .header-title {
    font-size: 500%;
    margin-bottom: 2%;
  }

  .header-welcome {
    font-size: 250%;
  }

  .box-presentation {
    padding: 2%;
    max-width: 50%;
    min-width: 58vh;
  }

  .date-event {
    font-size: 250%;
    margin: 2% 22% 1% 0;
  }

  .adress {
    font-size: 150%;
    margin-left: 0;
    margin-bottom: 0;
  }

  .program-container {
    display: flex;
    flex-direction: row;
    padding-left: 12%;
    padding-right: 12%;
  }

  .buttom-program {
    display: none;
  }

  a.whole-program {
    display: flex;
    margin-bottom: 40%;
    width: 100%;
    text-decoration-line: underline;
    font-size: small;
  }

  hr {
    width: 3%;
    color: #ec5242;
  }

  .box-program {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  .program-img {
    height: auto;
  }

  .program-paragraf {
    width: 80%;
    text-align: center;
  }

  .program-titles {
    width: 100%;
    text-align: center;
  }

  .container-a-logos {
    width: 13%;
    padding: 1%;
  }

  .sponsor-container-logos {
    margin-top: 2.5%;
    margin-bottom: 5%;
  }

  footer {
    margin-left: 15%;
  }

  .img-footer-logo {
    max-width: 100%;
  }

  .link-logo-footer {
    display: flex;
  }

  .footer-second-paragraf {
    display: flex;
    padding: 7%;
    margin: 0;
    padding-top: 0;
    font-size: x-small;
  }

  .footer-paragrafs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }

  .footer-paragraf {
    padding-bottom: 2%;
  }

  .container-speakers {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 15%;
    column-gap: 2%;
  }

  .speaker {
    width: 70vh;
  }

  .photo-speaker {
    width: 19vh;
  }

  .name-speaker {
    font-size: x-large;
  }

  .position-speaker {
    color: #ec5242;
    font-size: medium;
  }

  .description-speaker {
    font-size: medium;
  }

  section.sponsor-about {
    display: none !important;
  }

  .footer-about {
    background-color: #272a31;
    color: #fff;
    margin-left: 0;
    padding-left: 15%;
  }

  .section-past-about {
    margin-bottom: 0;
  }

  .container-two-img-past-about {
    display: flex;
    flex-direction: row;
    padding: 5%;
  }

  .container-img-last-about2,
  .container-img-last-about {
    width: 50%;
  }

  .paragraf-logo-about {
    font-size: medium;
  }

  .logo-container-about {
    width: 40%;
    align-self: center;
  }

  .box-presentation-about {
    padding: 2%;
    max-width: 50%;
    min-width: 58vh;
  }

  .header-welcome-about {
    display: none;
  }

  .presentation-container-about {
    margin: 0;
    padding-top: 5%;
    background: #f7f7f8 url(/assets/about_bg.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .header-title-about {
    font-size: 500%;
    padding: 10% 20% 0 20%;
  }

  .contact-about {
    font-size: large;
  }

  .email-about {
    margin: 0 0 5% 0;
    font-size: large;
  }
}
